aiohttp~=3.8.3
pandas~=2.0.3
understat~=0.1.12
thefuzz~=0.22.1
numpy~=1.26.4
scikit-learn~=1.6.1
xgboost~=3.0.2
matplotlib~=3.7.2
seaborn~=0.12.2
dask~=2023.6.0
shap~=0.47.2
torch~=2.6.0
pulp~=3.2.1
jupyter~=1.0.0
pip~=23.2.1
pathlib~=1.0.1
panel~=1.2.3
attrs~=25.3.0
zlib~=1.2.13
wheel~=0.38.4
openssl~=3.0.16
cryptography~=41.0.3
docutils~=0.18.1
sphinx~=5.0.2
filelock~=3.18.0